html, body {
  height: 100%;
  width: 100%;
}

.subtitle{
  color: black;
}




#disclaimer {
  padding: 20px;
  margin: 20px;
  background-color: #f4937b;
  color: white;
  margin-left: auto; margin-right: auto;
/*   display: flex;
  flex-direction: column; */
}

#results {
  padding: 20px;
  margin: 20px;
  background-color: #f4937b;
  color: white;
  margin-left: auto; margin-right: auto;
/*   display: flex;
  flex-direction: column; */
}

/* #disclaimerButton {
            background-color: #97402b;
            color: white;
            text-align: center;
            font-size: 20px;
         } */

.hidden {
  display: none;
}

.yesHover:hover{
  background-color: rgba(0, 171, 0, 0.8);
}

.noHover:hover{
  background-color: rgba(255, 0, 0, 0.8);
}

.hover:hover{
  background-color: rgba(0, 176, 150, 0.8);
}

.selected{
  background-color: rgba(244, 147, 123, 0.8);
}

.header {
background-image: url("https://d2jx2rerrg6sh3.cloudfront.net/image-handler/ts/20220124072653/ri/750/src/images/Article_Images/ImageForArticle_22028_16430272124432966.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  margin: 0px -10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.inner-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  opacity: 95%; 
}

#wrapper{
  margin: auto;
  display: flex;
  flex-direction: column;
}
